*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

canvas#snake {
  margin: 20px auto;
  display: block;
}


body{
  background: #002F42;
}


span.btn {
  display: none;
}


@media(max-width: 700px){
  canvas#snake{
    max-width: 90%;
  }
  span.btn {
    width: 80px;
    height: 80px;
    background: #fff;
    font-size: 80px;
    border-radius: 100px;
    display: block;
  }
  .container__btns {
    width: 100%;
    position: absolute;
    height: 250px;
  }

  span.btnRight {
    position: absolute;
    right: 50px;
    top: 80px;
  }

  span.btnDown {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  span.btnLeft {position: absolute;top: 80px;left: 50px;}
  span.btnUp {position: absolute;left: 0;right: 0;margin: 0 auto;}

  span.btn svg {
    width: 40px;
    position: absolute;
  }
  span.btnRight svg {
    transform: rotate(-90deg);
    top: 20px;
    left: 25px;
  }
  span.btnUp svg {
    transform: rotate(180deg);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 15px;
  }

  span.btnLeft svg {
    transform: rotate(90deg);
    top: 20px;
    right: 25px;
  }

  span.btnDown svg {
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}