*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

canvas#snake {
  margin: 20px auto;
  display: block;
}


body{
  background: #002F42;
}


span.btn {
  display: none;
}


@media(max-width: 700px){
  canvas#snake{
    width: 300px;
    height: 300px;
  }
  span.btn {
    width: 60px;
    height: 60px;
    background: #fff;
    font-size: 80px;
    border-radius: 100px;
    display: block;
  }
  .container__btns {
    width: 100%;
    position: absolute;
    height: 250px;
  }

  span.btnRight {
    position: absolute;
    right: 90px;
    top: 50px;
  }

  span.btnDown {
    position: absolute;
    bottom: 90px;
    left: 0px;
    right: 0;
    margin: 0 auto;
  }
  span.btnLeft {position: absolute;top: 50px;left: 86px;}
  span.btnUp {position: absolute;left: 0;right: 0;margin: 0 auto;}

  span.btn svg {
    width: 30px;
    position: absolute;
  }
  span.btnRight svg {
    transform: rotate(-90deg);
    top: 16px;
    left: 20px;
  }
  span.btnUp svg {
    transform: rotate(180deg);
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 14px;
  }

  span.btnLeft svg {
    transform: rotate(90deg);
    top: 16px;
    right: 20px;
  }

  span.btnDown svg {
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}